<footer>
    <div class="row">
        <div class="small-12 medium-4 columns">
          <h5>Drew Snyder</h5>
          <ul>
            <!--TODO: add static link to my bio page  -->
            <li><a href="/author/drew"><i class="fa fa-info-circle" aria-hidden="true"></i> About Me</a></li>
            <!-- IDEA: Add button for downloading resume -->
            <!-- <li><a href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Request Resume</a></li> -->
            <li><i class="fa fa-envelope tx-primary" aria-hidden="true"></i> <a href="mailto:drewtsnyder@gmail.com" itemprop="email">drewtsnyder@gmail.com</a></li>
          </ul>
        </div>
        <div class="small-12 medium-4 columns social">
            <h5>Play</h5>
            <ul>
                <li><a href="https://facebook.com/drewtsnyder" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="https://www.twitch.tv/dtsnyder/videos/all" target="_blank"><i class="fa fa-twitch" aria-hidden="true"></i></a></li>
                <li><a href="https://plus.google.com/+DrewSnydertoday" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="https://twitter.com/DrewSnyder" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="small-12 medium-4 columns social">
            <h5>Work</h5>
            <ul>
                <li><a href="https://bitbucket.org/detruesnyder/" target="_blank"><i class="fa fa-bitbucket" aria-hidden="true"></i></a></li>
                <li><a href="https://www.linkedin.com/in/drew-snyder-ba52965a" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="https://success.salesforce.com/_ui/core/userprofile/UserProfilePage?u=0053A00000Cxj7fQAB" target="_blank"><i class="fa fa-cloud" aria-hidden="true"></i></a></li>
                <li><a href="http://stackoverflow.com/users/7029098/drew-snyder" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="post-footer">
    <div class="row align-justify">
        <div class="column small-4">
            <small>Copyright © {{date format="YYYY"}} drewtsnyder.com</small>
        </div>
        <div class="column small-4">

        </div>
    </div>
</div>
