{{#foreach posts}}
<div class="columns small-12 large-4">
    <article class="card sticky-action">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{image absolute="true"}}">
        </div>
        <header class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{title}} <i class="fa fa-ellipsis-v fa-pull-right" aria-hidden="true"></i></span>
        </header>
        <section class="card-reveal">
            <span class="card-title grey-text text-darken-4">{{title}} <i class="fa fa-times fa-pull-right" aria-hidden="true"></i></span>
            <p>{{excerpt words="26"}}</p>
            {{author}}
            <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
        </section>
        <div class="card-action">
            <div class="row collapse align-justify ">
                <div class="column small-5 large-4">
                    <a href="{{url}}" class="expanded button">Read More</a>
                </div>
                <div class="column card-social small-6 large-6">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</div>
{{/foreach}}
<div class="row">
  <div class="column">
    <!-- {{pagination}} -->
  </div>
</div>
