<div class="hide-for-large">
   <div data-sticky-container>
	   <div class="title-bar mobile-navbar" data-sticky data-options="marginTop:0; stickyOn:small;" style="width:100%; height:60px;" >
		   <div class="title-bar-left">
			 <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
			 <span class="title-bar-title"><img class="small-logo" src="{{asset "images/logoFullWhite.svg"}}" /></span>
		   </div>
	   </div>
   </div>
</div>
