<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
    <ul class="vertical dropdown menu mobileNav" data-dropdown-menu>
        <button class="close-button" aria-label="Close menu" type="button" data-close><span aria-hidden="true">&times;</span></button>
        <!-- Loop through the navigation items -->
        {{#foreach navigation}}
        <li><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
        <!-- End the loop -->
    </ul>
</div>
