<ul class="pagination text-center" role="navigation" aria-label="Pagination">

  {{#if prev}}
         <li class="pagination-previous"><a href="{{page_url next}}" aria-label="Next page">Previous</a></li>
         {{else}}
         <li class="pagination-previous disabled"></li>
     {{/if}}
     <li class="current"><span class="show-for-sr">{{page}} of {{pages}}</span></li>
     {{#if next}}
         <li class="pagination-next"><a href="{{page_url next}}" aria-label="Next page">Next</a></li>
     {{/if}}

</ul>
