<div class="show-for-large">
    <div data-sticky-container>
        <div class="sticky" data-sticky data-margin-top='0' data-top-anchor="hero:bottom" data-btm-anchor="content:bottom" style="width:100%">
            <div class="main-post-nav">
                <div class="row">
                    <div class="column">
                        <div class="row">
                            <div class="column align-middle">
                                <ul class="tabs" data-tabs id="example-tabs">
                                    <li class="tabs-title post-links is-active"><a href="#postpanel">Post</a></li>
                                    <li class="tabs-title post-links"><a href="#commentspanel">Comments</a></li>
                                    <!-- PLANNING:  #ghost change this to the post's date tag-->
                                    <li class="post-links"><a>Posted: {{date format="DD MMMM YYYY"}}</a></li>
                                    <!-- PLANNING:  #ghost change this to the post's tags-->
                                    <li>Tags:
                                      {{#if tags}}
                                        {{#foreach tags}}
                                            <span><a href="{{url}}">{{name}}</a></span>
                                        {{/foreach}}
                                        {{else}}
                                          NO Tags
                                      {{/if}}
                                    </li>
                                    <!-- PLANNING: #ghost change these links to share links -->
                                    <li class="social"><a href="https://facebook.com/drewtsnyder" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="social"><a href="https://www.linkedin.com/in/drew-snyder-ba52965a" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li class="social"><a href="https://plus.google.com/+DrewSnydertoday" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li class="social"><a href="https://twitter.com/DrewSnyder" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
