<div class="show-for-large" id="topNav">
    <div data-sticky-container>
        <div class="sticky" data-sticky data-margin-top='0' data-top-anchor="1" data-btm-anchor="content:bottom" style="width:100%">
            <div class="main-site-nav">
                <div class="row">
                    <div class="column">
                      <div class="row">
                          <div class="column text-right align-middle page-links">
                              <ul>
                                <li><a href="/tag/salesforce">Salesforce</a></li>
                                <li><a href="/tag/projects">Projects</a></li>
                              </ul>
                          </div>
                          <div class="large-2 column shrink">
                              <a href="/"><img class="logo" src="{{asset "images/logoShortWhite.svg"}}" /></a>
                          </div>
                          <div class="column text-left align-middle page-links">
                              <ul>
                                <li><a href="/tag/gaming">Gaming</a></li>
                                <li><a href="/tag/comics">Comic Books</a></li>
                              </ul>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
