{{!< default}}
{{> mobileNav}}
{{#author}}
<div id="content" class="page-content">
    <div class="row columns"></div>
    <div class="row vpd-lg">
        <div class="columns">
            <div class="row">
                <div class="columns small-up small-12 medium-4 profile-details">
                    <div class="row">
                        <div class="columns">
                            <h1 class="text-right">{{name}}</h1>
                            {{#if image}}
                            <img class="thumbnail" src="{{image}}" alt="Photo of {{name}}">
                            {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="columns">
                            <h4>Contact Info</h4>
                        </div>
                    </div>
                    <div class="small-12 columns social">
                        <ul>
                            <li><a href="mailto:drewtsnyder@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Email</a></li>
                            <li><a href="https://facebook.com/drewtsnyder" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a></li>
                            <li><a href="https://www.twitch.tv/dtsnyder/videos/all" target="_blank"><i class="fa fa-twitch" aria-hidden="true"></i> Twitch</a></li>
                            <li><a href="https://twitter.com/DrewSnyder" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
                        </ul>
                        <ul>
                            <li><a href="https://bitbucket.org/detruesnyder/" target="_blank"><i class="fa fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
                            <li><a href="https://www.linkedin.com/in/drew-snyder-ba52965a" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
                            <li><a href="https://success.salesforce.com/_ui/core/userprofile/UserProfilePage?u=0053A00000Cxj7fQAB" target="_blank"><i class="fa fa-cloud" aria-hidden="true"></i> Salesforce</a></li>
                            <li><a href="http://stackoverflow.com/users/7029098/drew-snyder" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i> StackOverflow</a></li>
                        </ul>
                    </div>
                </div>
                <div class="columns small-12 medium-8 profile-bio">
                    <div class="row">
                        <div class="columns">
                            <blockquote>
                                <h3 class="text-center">
           											"There are three kinds of lies: lies, damn lies and software development timelines"
           										</h3>
                                <cite>
           											Mark Twain
           										</cite>
                            </blockquote>
                            <h4 class="text-left">Bio</h4>
                            <p class="text-left" itemprop="description">
                                {{bio}}
                            </p>
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/author}}
    <div class="row">
        <div class="column">
            {{> loop}}
        </div>
    </div>
</div>
