<!DOCTYPE html>
<html>

<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />{{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />{{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />{{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">{{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700|Roboto:300,400,700" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/da8c7c0c14.js"></script>
    <link rel="icon" type="image/svg" href="/img/logo/favicon-32.png">{{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>

<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="header">
                {{!-- The blog navigation links --}}
                {{navigation}}
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
                <div class="main">
                  {{> mobileNav}}

                  <div id="hero" class="home-hero hero" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
                      <div class="row tpd-xl">
                          <div class="column text-center">
                              <h1><em>{{@blog.description}}</em></h1>
                              <h6>Salesforce Developer | PM | Marketing Specialist</h6>
                          </div>
                      </div>
                  </div>
                  {{> lowNav}}

                  <div id="content" class="page-content">
                      <div class="row">
                        {{> "loop"}}
                      </div>
                  </div>

                </div>
                {{> footer}}
            </div>
            {{!-- Close off-canvas-content --}}
        </div>
        {{!-- Close Inner Wrap --}}
    </div>
    {{!-- Close Outer Wrap --}}

        {{!-- jQuery needs to come before `ghost_foot` so that jQuery can be used in code injection --}}
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.min.js"></script>
        {{!-- Ghost outputs important scripts and data with this tag --}}
        {{ghost_foot}}
        {{!-- Fitvids makes video embeds responsive and awesome --}}
        <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
        {{!-- The main JavaScript file for blue-brackets --}}
        <script type="text/javascript" src="{{asset "js/app.js"}}"></script>
</body>

</html>
