{{!< default}}
{{> mobileNav}}
<div id="hero" class="hero" style="background-image: url({{@blog.cover}})">
    <div class="row tpd-xl">
        <div class="column text-center">
            <h1><em>{{@blog.title}}</em></h1>
            <h6>{{@blog.description}}</h6>
        </div>
    </div>
</div>

<div id="content" class="page-content">
    <div class="row">
      {{> loop}}
    </div>
</div>
