{{!< default}}
{{> mobileNav}}
{{#post}}
<div id="hero" class="home-hero {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <div class="row tpd-xl">
        <div class="column text-center">
            <h1><em>{{title}}</em></h1>
        </div>
    </div>
</div>
{{> postBar}}
<div id="content" class="page-content">
    <div class="row">
        <div class="columns large-12">
            <div class="tabs-content post-content" data-tabs-content="example-tabs">
                <div class="tabs-panel post-panel is-active" id="postpanel">
                    {{content}}
                </div>
                <div class="tabs-panel post-panel" id="commentspanel">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_shortname = 'dtsnyder'; // required: replace example with your forum shortname
                        var disqus_identifier = '{{post.id}}';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script');
                            dsq.type = 'text/javascript';
                            dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/post}}

<hr class="dotted">
