{{!< default}}
{{> mobileNav}}
<div id="hero" class="hero {{#if tag.image}}" style="background-image: url({{tag.image}}){{else}}{{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}{{/if}}">
    <div class="row tpd-xl">
        <div class="column text-center">
          {{#tag}}
            <h1><em>{{name}}</em></h1>
            <h6>{{description}}</h6>
        </div>
        {{/tag}}
    </div>
</div>

<div id="content" class="page-content">
    <div class="row">
      {{> loop}}
    </div>
</div>
